@use 'header';
@use 'variables';

/* Aplica una plantilla de modelo de caja natural a todos los elementos, permitiendo que los mismos se combinen */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
#wrapper{
    margin-left: 2.5%;
    width: 95%;
    border-radius: 5%;
    background-color: variables.$fondo1;
}
